:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/* Header */

.page-header {
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

.page-header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-text {
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0px;
    color: var(--color-primary);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin: 0 35px;
}

.navbar ul li:first-of-type {
    margin-left: 0;
}

.navbar ul li:last-of-type {
    margin-right: 0;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: var(--font-open-sans);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    box-shadow: inset 0 -4px 0 0 transparent;
    padding: 28px 12px;
}

.navbar ul li a:hover {
    color: var(--color-black);
    box-shadow: inset 0 -4px 0 0 var(--color-primary);
    transition: 0.5s;
}

/* Hero Section */


.hero-text {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text .main-text {
    margin-bottom: 20px;
    font-family: var(--font-raleway);
    font-size: 49px;
    line-height: 57px;
    letter-spacing: 0px;
    color: var(--color-black);
}

.hero-text .second-text {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--color-black);
}

.hero-btn {
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 38px;
    padding: 0;
    display: inline-block;
    width: 440px;
    height: 67px;
    background: var(--color-primary);
    border: none;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.161);
    border-radius: 40px;
    color: white;
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
}


.hero-image {
    width: 100%;
    height: auto;
}

/* Main */

.sales {
    margin-top: 100px;
}
.sales .container {
    max-width: 800px;
}

.sales-text {
    display: flex;
    justify-content: center;
}

.sales-text .main-text {
    font-family: var(--font-raleway);
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0px;
    color: var(--color-black);
    text-align: center;
}

.statistics-container {
    margin-top: 103px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistics-column1, .statistics-column2, .statistics-column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-circle1 {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: var(--color-redish);
    position: relative;
}

.statistics-circle2 {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: var(--color-primary);
    position: relative;
}

.statistics-circle3 {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    background-color: var(--color-green);
    position: relative;
}

.statistics-img {
    position: absolute;
}

.statistics-column1 .statistics-img {
    left: 35px;
}

.statistics-column2 .statistics-img {
    top: 23%;
    left: 21px;
}

.statistics-column3 .statistics-img {
    top: 6px;
    left: 50%;
}

.statistics-main-text {
    margin-top: 13px;
    font-family: var(--font-raleway);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;
    font-weight: 800;
    color: var(--color-black);
    text-align: center;
}

.statistics-secondary-text {
    height: 48px;
    margin-top: 19px;
    font-family: var(--font-raleway);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    color: var(--color-grey);
    text-align: center;
}

/* Benefits section */

.benefits {
    padding-top: 100px;
    background: rgb(247, 247, 247) 0% 0% no-repeat padding-box;
}

.benefits .container {
    padding: 0 100px;
    max-width: 1124px;
}

.first-benefit, .second-benefit, .third-benefit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
    background: rgb(255, 255, 255) 0% 0% no-repeat padding-box;
    border: 1px solid rgb(232, 233, 237);
}

.benefit-text {
    box-sizing: content-box;
    max-width: 415px;
    margin: 90px 36px;
}